@font-face {
  font-family: 'Director';
  src: url('Director-Regular.woff2') format('woff2'),
    url('Director-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body, main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin:0; padding: 0;
  font-family: 'Director';
  background-size: cover;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


#header{
  position: fixed;
  top: 110px;

  h1{
  text-transform: uppercase;
  }
  
}



h1{
  font-size: 1rem;
  font-weight: normal;
}

#extra{
  position: absolute;
  bottom: 0;
}


  .fake{
    position: absolute;
    top: 0;
    height: 9000px;
    z-index: -10;
    width: 100%;
    pointer-events: none;
  }

main{
  
  width: 100vw;
  overflow-x: hidden;
  margin-top: 100px;
  
  height: 100vh;
  @media only screen and (max-width: 600px) {
  margin-top: 300px;
  }
  
  #websiteisa{
    padding: 1em;
    position: fixed;
    top: 120px;
    text-align: center;
    
    h1{
    font-size: 1.5rem;
    }
    
    a{
      cursor: pointer;
      font-size: .8rem;
    }
    
    a[active]{
      text-decoration: underline;
    }
    
  }
  
  #wrapper{
    display: flex;
    flex-direction: row;
//    justify-content: flex-end;
//    align-content: flex-start;
//    align-items: flex-start;
  }
  
  #wrapper.box{
    position: fixed;
    width: 9000px;
    height: 400px;
    left: 0;
  }
//  
  
  .m{
    display: inline-block;
width: 250px;
    padding: 1em;
    margin: 0 2em;
    max-height: 320px;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 1em;
    box-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 35px #fff,  0 0 35px #fff;
    border-radius: 30px;
    -webkit-backdrop-filter:blur(2px);
    backdrop-filter:blur(2px);
    background:rgba(255, 255, 255, 0.1);
    
    summary{
      cursor: pointer;
      padding: .5em;
      text-align: center;
    }
    
    p{
      color:#393939;
      font-size: .75rem;
      line-height: 130%;
      font-family: "Helvetica";
    text-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
    }
    
    a.example{
      font-size: 1.5rem;
      text-decoration: none;
    }
    
  }
  
  .m:hover{
    background:rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter:blur(2px);
    box-shadow: 0 0 15px #e3e3e3, 0 0 35px rgba(201, 201, 201, 0.69);
  }
  
}


#clouds {
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
  letter-spacing: 5px;
  pointer-events: none;
  opacity: 0.4;
  font-size: 1.25rem;
  letter-spacing: 2px;
  transition: opacity 5s linear;
  z-index: -2;
      font-family: "Helvetica";

  .cloud-wrapper {

    display: flex;
    flex-direction: row;
    width: auto;
    min-width: 300vw;
    height: 350px;
    transition: opacity 5s linear;
    animation: marquee 400s linear infinite;

    @media only screen and (max-width: 600px) {
      animation: marquee 300s infinite;
      opacity: 0.2;
    }
  }

  .cloud {
    margin: 1em;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    //    gap: var(--gap);

    span {
      white-space: pre-wrap;
      word-break: break-word;
      display: inline-block;
    }
  }

  @media only screen and (max-width: 600px) {
    font-size: 1rem;
  }
}

#clouds.two {

  opacity: 0.6;
  top: 220px;

  .cloud-wrapper {
    animation: marquee 310s infinite;

    @media only screen and (max-width: 600px) {
      animation: marquee 260s infinite;
    }

  }
    @media only screen and (max-width: 600px) {
  opacity: 0.1;
  }
}


@keyframes marquee {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  2% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.95;
  }

  80% {
    opacity: 0.8;
  }

  95% {
    opacity: 0;
  }

  100% {
    transform: translateX(-4500px);
  }
}
