@font-face {
  font-family: "Director";
  src: url("Director-Regular.woff2") format("woff2"), url("Director-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body, main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Director";
  background-size: cover;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  padding: 0.5em;
  width: calc(100% - 1em);
  display: flex;
  justify-content: space-between;
}
header a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

#header {
  position: fixed;
  top: 60px;
}
#header h1 {
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  #header h1 {
    font-size: 0.8rem;
  }
}

#howto {
  z-index: 9999;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: none;
}
#howto p {
  margin: 0 auto;
  width: 90vw;
  max-width: 400px;
  padding: 1em;
  text-align: center;
}

h1 {
  font-size: 1rem;
  font-weight: normal;
}

#extra {
  position: absolute;
  bottom: 0;
  display: none;
}

.fake {
  position: absolute;
  top: 0;
  height: 13000px;
  z-index: -10;
  width: 100%;
  pointer-events: none;
}
@media only screen and (max-width: 600px) {
  .fake {
    height: 12600px;
  }
}

main {
  width: 100vw;
  height: calc(100vh - 100px);
  overflow: hidden;
}
main #websiteisa {
  padding: 1em;
  position: fixed;
  top: 80px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  main #websiteisa {
    top: 70px;
  }
}
main #websiteisa h1 {
  font-size: 1.5rem;
  margin: 0.25rem;
}
@media only screen and (max-width: 600px) {
  main #websiteisa h1 {
    font-size: 1.25rem;
  }
}
main #websiteisa a {
  cursor: pointer;
  font-size: 0.6rem;
  opacity: 0.4;
  text-decoration: none;
  color: #000;
}
main #websiteisa a[active] {
  opacity: 1;
}
main #wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
main #wrapper.box {
  height: 400px;
  width: 100vw;
  left: 0;
}
main #wrapper.box .extra-wrapper {
  position: fixed;
  width: 13000px;
  top: 180px;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  main #wrapper.box .extra-wrapper {
    width: 10500px;
  }
}
main #wrapper.box .m {
  box-sizing: border-box;
  min-width: 300px;
  padding: 1em;
  margin: 0 2em;
  height: 380px;
  max-height: 380px;
  overflow-y: scroll;
}
@media only screen and (max-width: 600px) {
  main #wrapper.box .m {
    min-width: 310px;
    width: 310px;
    max-width: 90vw;
  }
}
@media only screen and (max-height: 720px) {
  main #wrapper.box .m {
    height: 280px;
    max-height: 280px;
  }
}
main #wrapper.box .m:first-of-type {
  margin-left: 20vw;
}
@media only screen and (max-width: 600px) {
  main #wrapper.box .m:first-of-type {
    margin-left: 10vw;
  }
}
main #wrapper.box .m:last-of-type {
  margin-right: 15vw;
}
@media only screen and (max-width: 600px) {
  main #wrapper.box .m:last-of-type {
    margin-right: 0;
  }
}
main .m {
  display: inline-block;
  padding: 1em;
  margin: 0 2em;
  margin: 0 auto;
  width: 350px;
  padding: 1em;
  box-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 35px #fff, 0 0 35px #fff;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.1);
}
main .m summary {
  cursor: pointer;
  padding: 0.5em;
  text-align: center;
}
main .m p {
  color: #393939;
  font-size: 0.8rem;
  line-height: 130%;
  font-family: "Helvetica";
  text-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
}
main .m .prompt {
  color: rgba(0, 0, 0, 0.5);
}
main .m a.example {
  font-size: 1.5rem;
  text-decoration: none;
}
main .m:hover {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 0 15px #e3e3e3, 0 0 35px rgba(201, 201, 201, 0.69);
}
main #wrapper.list {
  position: fixed;
  width: 100vw;
  height: 500px;
  overflow-y: scroll;
  left: 0;
  width: 100vw;
}
main #wrapper.list .extra-wrapper {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 3000px;
}
main #wrapper.list .m {
  display: block;
  width: 80vw;
  max-width: 520px;
  min-height: 200px;
  height: fit-content;
  max-height: none;
  margin: 1em auto;
  padding: 1em;
  overflow: none;
}

#flowers {
  position: absolute;
  bottom: 50px;
  width: 100vw;
  padding: 1em;
}
#flowers .wrapper {
  position: fixed;
  width: 9000px;
  height: 50px;
}
#flowers .wrapper a {
  position: absolute;
  text-decoration: none;
  color: #000;
  opacity: 0.4;
  font-size: 1.1rem;
  z-index: 9;
}
#flowers .wrapper a:hover {
  opacity: 1;
  transform: rotate(270deg);
  transform-origin: center center;
  text-shadow: 0 0 15px #000;
}

#clouds {
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
  letter-spacing: 5px;
  pointer-events: none;
  opacity: 0.4;
  font-size: 1.25rem;
  letter-spacing: 2px;
  transition: opacity 5s linear;
  z-index: -2;
  font-family: "Helvetica";
}
#clouds .cloud-wrapper {
  display: flex;
  flex-direction: row;
  width: auto;
  min-width: 300vw;
  height: 350px;
  transition: opacity 5s linear;
  animation: marquee 400s linear infinite;
}
@media only screen and (max-width: 600px) {
  #clouds .cloud-wrapper {
    animation: marquee 300s infinite;
    opacity: 0.2;
  }
}
#clouds .cloud {
  margin: 1em;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
}
#clouds .cloud span {
  white-space: pre-wrap;
  word-break: break-word;
  display: inline-block;
}
@media only screen and (max-width: 600px) {
  #clouds {
    font-size: 1rem;
  }
}

#clouds.two {
  opacity: 0.3;
  top: 180px;
  font-size: 1rem;
}
#clouds.two .cloud-wrapper {
  animation: marquee 310s infinite;
}
@media only screen and (max-width: 600px) {
  #clouds.two .cloud-wrapper {
    animation: marquee 260s infinite;
  }
}
@media only screen and (max-width: 600px) {
  #clouds.two {
    opacity: 0.1;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  2% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.95;
  }
  80% {
    opacity: 0.8;
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateX(-4500px);
  }
}

/*# sourceMappingURL=stylesheet.css.map */
