@font-face {
  font-family: 'Director';
  src: url('Director-Regular.woff2') format('woff2'),
    url('Director-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body, main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin:0; padding: 0;
  font-family: 'Director';
  background-size: cover;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


header{
  position: fixed;
  z-index: 99999;
  top: 0;left:0;
  padding: .5em;
  width: calc(100% - 1em);
  display: flex;
  justify-content: space-between;
  
  a{color:#000;text-decoration: none; text-transform: uppercase;}
  
}

#header{
  position: fixed;
  top: 90px;

  h1{
  text-transform: uppercase;
  @media only screen and (max-width: 600px) {
    font-size: .8rem;
    }
  }
  
}



h1{
  font-size: 1rem;
  font-weight: normal;
}

#extra{
  position: absolute;
  bottom: 0;
  display: none;
}


  .fake{
    position: absolute;
    top: 0;
    height: 12300px;
    z-index: -10;
    width: 100%;
    pointer-events: none;
    
  @media only screen and (max-width: 600px) {
    height: 12100px;
    }
  }

main{
  
  width: 100vw;
  margin-top: 50px;
  height: calc(100vh - 100px);
  overflow: hidden;
  
  @media only screen and (max-width: 600px) {
  margin-top: 60px;
  }
  
  #websiteisa{
    padding: 1em;
    position: fixed;
    top: 100px;
    text-align: center;
    
    h1{
    font-size: 1.5rem;
  @media only screen and (max-width: 600px) {
      font-size: 1.25rem;
      }
    }
    
    a{
      cursor: pointer;
      font-size: .6rem;
      opacity: 0.4;
    }
    
    a[active]{
opacity: 1;
    }
    
  }
  
  #wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
//    justify-content: flex-end;
//    align-content: flex-start;
//    align-items: flex-start;
  }
  
  #wrapper.box{
    height: 400px;
    width: 100vw;
    left: 0;
    
    .extra-wrapper{
    position: fixed;
    width: 12500px;
      display: flex;
      flex-direction: row;
      
  @media only screen and (max-width: 600px) {
      width: 10000px;
      }
    }
    
    .m{
      box-sizing: border-box;
      min-width: 300px;
    padding: 1em;
    margin: 0 2em;
    max-height: 380px;
    overflow-y: scroll;
  @media only screen and (max-width: 600px) {
      min-width: 310px;
    width: 310px;
    max-width: 90vw;
      }
    }
    
    .m:last-of-type{
      margin-right: 15vw;
      
  @media only screen and (max-width: 600px) {
      margin-right: 0;
      }
    }
  }
  

  .m{
    display: inline-block;
    padding: 1em;
    margin: 0 2em;
    max-height: 380px;
    margin: 0 auto;
    padding: 1em;
    box-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 35px #fff,  0 0 35px #fff;
    border-radius: 30px;
    -webkit-backdrop-filter:blur(2px);
    backdrop-filter:blur(2px);
    background:rgba(255, 255, 255, 0.1);
    
    summary{
      cursor: pointer;
      padding: .5em;
      text-align: center;
    }
    
    p{
      color:#393939;
      font-size: .75rem;
      line-height: 130%;
      font-family: "Helvetica";
    text-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
    }
    
    a.example{
      font-size: 1.5rem;
      text-decoration: none;
    }
    
  }
  
  .m:hover{
    background:rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter:blur(2px);
    box-shadow: 0 0 15px #e3e3e3, 0 0 35px rgba(201, 201, 201, 0.69);
  }
  
  
  #wrapper.list{
    position: fixed;
    width: 100vw;
    height: 500px;
    overflow-y: scroll;
    left: 0;
      width: 100vw;
    
    
    .extra-wrapper{
      width: 100vw;
      margin: 0 auto;
      display: flex;
    flex-direction: column;
      height: 3000px;
    }
    
    .m{
      display: block;
      width: 80vw;
      max-width: 520px;
      min-height: 200px;
      height: fit-content;
      max-height: none;
      margin: 1em auto;
      padding: 1em;
      overflow:none;
    }
    
  }
  
}


#flowers{
  
  position: absolute;
bottom: 200px;
  width: 100vw;
  padding: 1em;
  
  .wrapper{
    position: fixed;
    width: 9000px;
    height: 50px;
    
    a{
      position: absolute;
      text-decoration: none;
      color:#000;
      opacity: 0.4;
      font-size: 1.1rem;
      z-index: 9;
    }
    
    a:hover{
      opacity: 1;
      transform: rotate(270deg);
      transform-origin: center center;
      text-shadow: 0 0 15px #000;
    }
    
  }
  
}


#clouds {
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
  letter-spacing: 5px;
  pointer-events: none;
  opacity: 0.4;
  font-size: 1.25rem;
  letter-spacing: 2px;
  transition: opacity 5s linear;
  z-index: -2;
      font-family: "Helvetica";

  .cloud-wrapper {

    display: flex;
    flex-direction: row;
    width: auto;
    min-width: 300vw;
    height: 350px;
    transition: opacity 5s linear;
    animation: marquee 400s linear infinite;

    @media only screen and (max-width: 600px) {
      animation: marquee 300s infinite;
      opacity: 0.2;
    }
  }

  .cloud {
    margin: 1em;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    //    gap: var(--gap);

    span {
      white-space: pre-wrap;
      word-break: break-word;
      display: inline-block;
    }
  }

  @media only screen and (max-width: 600px) {
    font-size: 1rem;
  }
}


#clouds.two {

  opacity: 0.6;
  top: 220px;

  .cloud-wrapper {
    animation: marquee 310s infinite;

    @media only screen and (max-width: 600px) {
      animation: marquee 260s infinite;
    }

  }
    @media only screen and (max-width: 600px) {
  opacity: 0.1;
  }
}


@keyframes marquee {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  2% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.95;
  }

  80% {
    opacity: 0.8;
  }

  95% {
    opacity: 0;
  }

  100% {
    transform: translateX(-4500px);
  }
}
